<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>Cadastro CRUD+PDO</title>
        </head>
        <body>
            <h1>Cadastrar</h1>
            <form name="cad-user"  method="post">
                <label>Nome: </label>
                <input type="text" name="nome" id="nome" placeholder="Nome completo"><br><br>

                <label>E-mail: </label>
                <input type="email" name="email" id="email" placeholder="E-mail compativel">

                <input type="submit" value="Cadastrar" name="CadastroUsuario">
            </form>
        </body>
    </html>